rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null
        && request.auth.token.email == 'abhishekbhikule76@gmail.com';
    }
    match /weddings/{planId} {
      allow read, write: if isOwner();
    }
  }
}
